{% extends 'base.html' %}

{% block content %}

    <h1>👑 Welcome, Admin {{ user.username }}!</h1>
    <p>This is your admin dashboard.</p>

    <ul>
        <li><a href="/admin/">Go to Django Admin Panel</a></li>
            <li><a href="{% url 'moderate_documents' %}" class="nav-link">📁 Moderate Documents</a></li>


            <li>
                <a href="{% url 'approved_documents' %}" class="nav-link">📁 Manage Approved Documents</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'reported_documents' %}">🚩 Reported Docs</a>
            </li>
          
        <li><a href="{% url 'logout' %}">Logout</a></li>
        

    </ul>
{% endblock %}